{
  "app": {
    "guid": "b7decd32-d7ab-4fb8-959a-3cf758da650d"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "YjdkZWNkMzItZDdhYi00ZmI4LTk1OWEtM2NmNzU4ZGE2NTBk",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "activeDirectory",
    "defaultDomain": "redecamara.camara.gov.br",
    "hostname": "dirsrvc.redecamara.camara.gov.br",
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.postoturma2",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": "testeCronapp1, testeCronappAdmin, testeCronapp2"
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}